**/target/**
**/**/target/*.*
**/**/target
**/**/.factorypath

#.idea
.idea/**
# Mobile Tools for Java (J2ME)
.mtj.tmp/
# Package Files #
**/*.ear
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
**/*.class
# Package Files #
**/src/main/webapp/**/*.jar
**/*.war
# gwt caches and compiled units #
src/main/webapp/gwt_bree/
**/gwt-unitCache/
# boilerplate generated classes #
**/.apt_generated/
# more caches and things from deploy #
**/src/main/webapp/WEB-INF/deploy/
**/src/main/webapp/WEB-INF/classes/
#compilation logs
**/.gwt/
#gwt junit compilation files
**/www-test/
**/dependency-reduced-pom.xml
**/buildNumber.properties
**/.mvn/timing.properties
# Eclipse
**/.classpath
**/.project
**/.settings/
# Intellij
*.iml
**/*.iml
**/*.iws
.idea/libraries/*.*
.idea/dataSources/*.*
.idea/dataSources/*
.idea/dataSources*
.idea/compiler.xml
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/uiDesigner.xml
.idea/encodings.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/$CACHE_FILE$
.idea/.name
**/*.log
**/bin/
.gradle
/build/
# Ignore Gradle GUI config
gradle-app.setting
# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
# Cache of project
.gradletasknamecache
# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
**/.vertx/**
**/*.flattened-pom.xml
**/*-fat.jar
**/logs/*.*
artifacts/**/*.*
**/**/pom.xml.versionsBackup
**/artifacts/*.*
.mvn/*.*